
.home-section{
    min-height: 100vh;
    position: relative;
}

.home-section .cover {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}

/* .home-section .cover1{
background-position: center;
background-size: cover;
position: relative;
z-index: 0;
left: 0;
top:0;
width: 100%;
height: 100%;
} */
.home-section .cover video{
    width: 100%;
    height: 100%;
    display: block;
}

/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100vh;
  } */

.home-section .row1 {
    display: flex;
    height: 100vh;
    align-items: center;
}

col{
    flex-basis: 50%;
}

.home-section .cover .home-content{
    display: inline-block;
    max-width: 100%;
    padding: 0 15px;
    /*  text-align: center; */
}


@keyframes fadeInTop{
    0%{
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInSide{
    0%{
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.home-section .cover .home-content h1{
    font-size:50px;
    color: #3498db;
    margin: 0 0 15px;
    margin-top: 0px;
    opacity: 0;
    animation: fadeInTop 1s ease forwards;
    animation-delay: 0.5s;
}

.home-section .cover .home-content p{
    font-size: 14px;
    color: #ffffff;
    margin: 0 0 12px;
     opacity: 0;
     animation: fadeInTop 1s ease forwards;
    animation-delay: 1s;
    text-align: justify;
}

.home-section .cover .home-content button{
    width: 180px;
    color: #fff;
    font-size: 15px;
    padding: 12px 0;
    background-color: #3498db;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    opacity: 0;
    animation: fadeInSide 1s ease forwards;
    animation-delay: 1.5s;
}

@media (max-width:768px){
    @keyframes fadeInTop{
        0%{
            transform: translateY(-50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    @keyframes fadeInSide{
        0%{
            transform: translateX(-100px);
        }
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    
    .home-section .cover .home-content h1{
        font-size:35px;
        color: #3498db;
        margin: 0 0 10px;
        margin-top: 100px;
        opacity: 0;
        animation: fadeInTop 1s ease forwards;
        animation-delay: 0.5s;
    }
    
    .home-section .cover .home-content p{
        font-size: 15px;
        color: #ffffff;
        margin: 0 0 10px;
         opacity: 0;
         animation: fadeInTop 1s ease forwards;
        animation-delay: 1s;
    }
    
    .home-section .cover .home-content button{
        width: 100px;
        color: #fff;
        font-size: 13px;
        padding: 12px 0;
        background-color: #3498db;
        border: 0;
        border-radius: 20px;
        outline: none;
        margin-top: 30px;
        cursor: pointer;
        opacity: 0;
        animation: fadeInSide 1s ease forwards;
        animation-delay: 1.5s;
    }
}