a{
    text-decoration: none;   
  }
  
  /* header */
  .header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 99;
      /* border-bottom: 1px solid #000000; */
      border-bottom: 1px solid rgba(247, 243, 243, 0.2);
      transition: all 0.5s ease;
      font-family: 'Times New Roman', Times, serif;
  }
  
  .header.fixed {
      background-color: #000000;
      box-shadow: 0 0 8px #cccccc;
  }
  .header .logo {
      padding: 0 15px;
      
  }
  
  /* .header .logo img {
    width: 80px;
    height: 50px;
}

.header.fixed .logo img{
    display: block;
    width: 80px;
    height: 50px;
} */
  .header .logo a {
      font-size: 30px;
      color: #ffffff;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: all 0.5s ease;
      font-family: 'Times New Roman', Times, serif;
  }

  .header .logo a i {
      font-size: 30px;
      transition: all 0.5s ease;
  }
  
  
  .header.fixed .logo a{
      color: #ffffff;
  }
  
  .header.fixed .logo a i {
      color: #000000;
  }
  
  .header .hamburger-btn {
      display: inline-block;
      width: 40px;
      height: 34px;
      border-radius: 3px;
      border:1px solid #ffffff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
      display: none;
  }
  
  .header.fixed .hamburger-btn{
      border-color: #ffffff;
      background-color: #000000;
  }
  
  .header .hamburger-btn span {
      display: block;
      height: 1px;
      width: 16px;
      background-color: #ffffff;
      position: relative;
      transition: all 0.5s ease;
  }
  /* .header.fixed .hamburger-btn span:before,
  .header.fixed .hamburger-btn span:after,
  .header.fixed .hamburger-btn span{
      background-color: #000000;
  } */
  .header .hamburger-btn span:before,
  .header .hamburger-btn span:after{
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      background-color: #ffffff;
  }
  .header .hamburger-btn span:before{
      top: -6px;
  }
  .header .hamburger-btn span:after{
      top: 6px;
  }
  .header .nav {
      padding: 0 15px;
  }
  
  .header .nav ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .header .nav ul li{
      display: inline-block;
      margin-left: 30px;
  }
  
  .header .nav ul li a{
      display: block;
      padding: 25px 0;
      /* color: #b0cde0; */
      color: white;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      transition: color 0.5s ease;
  } 
  .header .nav ul li a:hover{
    color: #b0cde0;
  }

  .header.fixed .nav ul li a {
      color: #ffffff;
  }

  .header.fixed .nav ul li a:hover {
    color: #b0cde0;
}

.headertopmobile{
    display: none;
}

.newnav-container-mobile{
    display: none;
}

  @media (max-width: 768px) {
    
    .header .logo {
        padding: 8px 15px;
    }

    .header .logo a {
        font-size: 25px;
    }
    /* .header.fixed .logo img{
        display: block;
        width: 100px;
        height: 50px;
    } */

    
    .header .hamburger-btn{
        display: flex;
        margin-right: 15px;
        width: 30px;
        height: 24px;
        border-radius: 3px;
    }
    .header .nav{
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #ffffff;
        border-top: 1px solid #3498db;
        display: none;
    }
    .header .nav ul li{
        display: block;
        margin-left: 0;
    }
    .header .nav ul li a{
        color: #3498db;
        padding: 10px 0;
        font-family: 'Times New Roman', Times, serif;
    }

    .header.fixed .nav ul li a {
        color: #3498db;
    }

    .headertop{
        display:none;
    }
    .headertopmobile {
        display: inline-block;
        /* position: sticky; */
        width: 250px;
        height: 30px;
        background-color: white;
        transform: skew(35deg);
        margin: 0 0 0 -20px;
        /* -webkit-transform: skew(50deg);
           -moz-transform: skew(50deg);
             -o-transform: skew(50deg); */
        /* border-radius: 0px 25px 20px 0px; */
        border:1px solid #000000;
        cursor: pointer; 
        transition: all 0.5s ease;
        box-shadow: 5px 5px 2px grey;
    }
  
    .headertopmobile.fixed1 {
        display: none;
        /* position: sticky; */
        /* width: 250px;
        height: 40px;
        background-color: red;
        transform: skew(35deg);
        margin: 0 0 0 -20px; */
        /* -webkit-transform: skew(50deg);
           -moz-transform: skew(50deg);
             -o-transform: skew(50deg); */
        /* border-radius: 0px 25px 20px 0px; */
        /* border:1px solid #000000;
        cursor: pointer; 
        transition: all 0.5s ease;
        box-shadow: 10px 10px 5px grey; */
    }


    .headertopmobile a {
        margin-top: 6px;
        font-size: 12px;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skew(-35deg);
    }
    /* font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center; */

    

    .headertopmobile:hover {
        box-shadow:10px 10px 5px grey;
        background-color: #7bb8e0;
        /* border-color: #3498db; */
        /* opacity: 0.5; */
    }

    .headertopmobile:hover a{
        color: white;
        opacity: 1;
    }

}