.services{
    background: #f1f1f1;
    text-align: center;
  }
  .services h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #3498db;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
  }
  .cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
  }
  .service{
    display: inline-block;
    width: calc(100% / 3);
    margin: 20px 20px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
    background: #ddd;
  }
  .service:hover{
    background: #ffffff;
  }
  .service i{
    color: #3498db;
    font-size: 34px;
    margin-bottom: 30px;
  }
  .service h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
  }
  .service p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
  }

  .service button {
    margin-top: 10px;
    width:80px;
    height: 30px;
    /* text-transform: uppercase; */
    border-radius: 5px;
    border: none;
    color: #000000;
    background-color: #3498db;
  }
  .service button a {
    color: #000000;
  }

  .service button:hover { 
    background-color: #000000;
  }
  .service button:hover a {
    color: #ffffff;
  }

  @media screen and (max-width: 800px) {
    .service{
      width: 50%;
    }
  }
  @media screen and (max-width: 500px) {
    .service{
      width: 100%;
      margin: 20px 5px;
    }
  }