/* *{
    box-sizing: border-box;
} */

  
.services-inside{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .services-inside .backbutton{
      /* width: 120px;
      height: 100px; */
      background-color: #3498db;
      border-radius: 25px;
      position: Fixed;
      cursor: pointer;
      padding-left: 20px;
      margin-top: 20px;
  }

  .services-inside .backbutton i{
      font-size: 50px;
      position: fixed;
      align-content: center;
      border-radius: 28px;
     color: black;        

  }

  .services-inside .backbutton i:hover {
      /* color: #3498db; */
      background-color: #3498db;
  }

  .services-inside h1{
    display: inline-block;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 4px solid #3498db;
    font-size: 40px;
    padding-bottom: 10px;
    margin-top: 40px;
  }

  .services-inside p {
      /* width: 80%; */
      margin-top: 20px;
      padding-left: 150px;
      padding-right: 150px;
      color: #000000;
      text-align: justify;
      font-size: 20px;
  }

  .services-inside h3{
    display: inline-block;
    color: #3498db;
    /* border-bottom: 4px solid #3498db; */
    font-size: 25px;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  .services-inside ul {
      margin-top: 0px;
      display: inline-block;
    text-align: justify;
  }

  .services-inside ul li{
      color: #3498db;
      font-size: 20px;   
  }
  .services-inside ul li a{
    color: #000000;
    cursor: pointer;
    font-size: 20px;
}
  

.slider1{
    width: 800px;
    height: 400px;
    
    /* background-color: red; */
    background-image: url('../images/1.png');
    background-repeat: no-repeat;
    background-size: 800px 400px;
    margin: auto;
    margin-top: 30px;
    animation: slide1 10s infinite;
}
@keyframes slide1{
    25%{
        background: url('../images/4.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    50%{
        background: url('../images/2.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    75%{
        background: url('../images/3.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    100%{
        background: url('../images/1.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
}

.slider2{
    width: 800px;
    height: 400px;
    background: url('../images/5.png');
    background-repeat: no-repeat;
    background-size: 800px 400px;
    margin: auto;
    margin-top: 30px;
    animation: slide2 20s infinite;
}
@keyframes slide2{
    25%{
        background: url('../images/6.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    50%{
        background: url('../images/7.png');
        background-repeat: no-repeat;
    background-size: 800px 400px;
    }
    75%{
        background: url('../images/8.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    100%{
        background: url('../images/5.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
}

.slider3{
    width: 800px;
    height: 400px;
    background: url('../images/9.png');
    background-repeat: no-repeat;
    background-size: 800px 400px;
    margin: auto;
    margin-top: 30px;
    animation: slide3 10s infinite;
}
@keyframes slide3{
    25%{
        background: url('../images/10.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    50%{
        background: url('../images/11.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    75%{
        background: url('../images/12.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    100%{
        background: url('../images/9.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
}

.slider4{
    width: 800px;
    height: 400px;
    background: url('../images/13.png');
    background-repeat: no-repeat;
    background-size: 800px 400px;
    margin: auto;
    margin-top: 30px;
    animation: slide4 10s infinite;
}
@keyframes slide4{
    25%{
        background: url('../images/14.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    50%{
        background: url('../images/15.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    75%{
        background: url('../images/16.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    100%{
        background: url('../images/13.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
}

.slider5{
    width: 800px;
    height: 400px;
    /* background-color: red; */
    background-image: url('../images/18.png');
    background-repeat: no-repeat;
    background-size: 800px 400px;
    margin: auto;
    margin-top: 30px;
    animation: slide5 10s infinite;
}
@keyframes slide5{
    25%{
        background: url('../images/18.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    50%{
        background: url('../images/19.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    75%{
        background: url('../images/20.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
    100%{
        background: url('../images/21.png');
        background-repeat: no-repeat;
        background-size: 800px 400px;
    }
}
/* For Mobile Screen */

@media screen and (max-width: 768px) {

    .services-inside h1{
        display: inline-block;
        text-transform: uppercase;
        color: #000000;
        border-bottom: 4px solid #3498db;
        font-size: 30px;
        padding-bottom: 10px;
        margin-top: 40px;
      }

    .services-inside p {
        /* width: 80%; */
        margin-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        color: #000000;
        text-align: justify;
        font-size: 15px;
    }

    .services-inside h3{
        display: inline-block;
        color: #3498db;
        /* border-bottom: 4px solid #3498db; */
        font-size: 20px;
        padding-bottom: 10px;
        margin-top: 10px;
      }
    
      .services-inside ul {
          margin-top: 0px;
          display: inline-block;
        text-align: justify;
      }
    
      .services-inside ul li{
          color: #3498db;
          font-size: 18px;   
      }
      .services-inside ul li a{
        color: #000000;
        cursor: pointer;
        font-size: 18px;
    }
   
    .slider1{
        width: 400px;
        height: 200px;
        background-image: url('../images/1.png');
        background-repeat: no-repeat;
        background-size: 400px 200px;
        margin: auto;
        margin-top: 15px;
        animation: slide1 10s infinite;
    }
    @keyframes slide1{
        25%{
            background: url('../images/4.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        50%{
            background: url('../images/2.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        75%{
            background: url('../images/3.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        100%{
            background: url('../images/1.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
    }
    
    .slider2{
        width: 400px;
        height: 200px;
        background: url('../images/5.png');
        background-repeat: no-repeat;
        background-size: 400px 200px;
        margin: auto;
        margin-top: 15px;
        animation: slide2 20s infinite;
    }
    @keyframes slide2{
        25%{
            background: url('../images/6.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        50%{
            background: url('../images/7.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        75%{
            background: url('../images/8.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        100%{
            background: url('../images/5.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
    }
    
    .slider3{
        width: 400px;
        height: 200px;
        background: url('../images/9.png');
        background-repeat: no-repeat;
        background-size: 400px 200px;
        margin: auto;
        margin-top: 15px;
        animation: slide3 10s infinite;
    }
    @keyframes slide3{
        25%{
            background: url('../images/10.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        50%{
            background: url('../images/11.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        75%{
            background: url('../images/12.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        100%{
            background: url('../images/9.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
    }
    
    .slider4{
        width: 400px;
        height: 200px;
        background: url('../images/13.png');
        background-repeat: no-repeat;
        background-size: 400px 200px;
        margin: auto;
        margin-top: 15px;
        animation: slide4 10s infinite;
    }
    @keyframes slide4{
        25%{
            background: url('../images/14.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        50%{
            background: url('../images/15.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        75%{
            background: url('../images/16.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        100%{
            background: url('../images/13.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
    }

    .slider5{
        width: 400px;
        height: 200px;
        background: url('../images/18.png');
        background-repeat: no-repeat;
        background-size: 400px 200px;
        margin: auto;
        margin-top: 15px;
        animation: slide5 10s infinite;
    }
    @keyframes slide5{
        25%{
            background: url('../images/19.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        50%{
            background: url('../images/20.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        75%{
            background: url('../images/21.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
        100%{
            background: url('../images/18.png');
            background-repeat: no-repeat;
            background-size: 400px 200px;
        }
    }
}

